  body {
    margin: 0;
    background-color: var(--background-color);
    height: auto;
    
    padding: 0;
    height: 100%;
  }
  *{
    
  }
 

  .app{
    
    color: #fff;
    font-family: "Inter", sans-serif;
    height: 100%;
    width: 100%;
  }

    @import url('https://fonts.googleapis.com/css2?family=Inter&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700&family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

  :root{
    --font-family: 'Inter', sans-serif;
    --primary-color:#4d547d;
    --secondary-color:#7a7f9d;
    --background-color:#0e1331;
    --neutral:#21295c;
    --var1:#ffda85;
    --var2:#665429;
    --var3:#cca752;
    --var4:#c08a0a;
  


  }
  h1{
    font-family: var(--font-family);
    font-size: 40;
  }
  h2{
    font-family: var(--font-family);
    font-size: 32;
  }
  h3{
    font-family: var(--font-family);
    font-size: 24;
  }
  h4{
    font-family: var(--font-family);
    font-size: 20;
  }
  h5{
    font-family: var(--font-family);
    font-size: 16;
  }
  h6{
    font-family: var(--font-family);
    font-size: 14;
  }